{% extends "base.html" %}
{% block content %}
<div class="glass-morphism-container1">
<form method="post"  name="form1" id="form1" >
                            <h3 class="form-heading">{{heading_player_name__form}}</h3>
                            {% csrf_token %}
                        <input type="hidden" name="_token" value="b1nCcqafDVGwwKwH5DLWqeD06kDWSQBXGrPwAco3">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">{{first_name}}<span class="mandatory">* </span></label>
                                        <input class="form-control" type="text" name="first_name"  id="first_name" required minlength="3">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">{{last_name}}<span class="mandatory">* </span></label>
                                        <input class="form-control" type="text" name="last_name" id="last_name" required minlength="3">
                                    </div>
                                </div>






                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">{{primary_position}} <span class="mandatory">*
                                            </span></label>
                                        <select class="form-control" name="primary_position" id="primary_position" required="" data-fillr-id="1552374762" data-fillr="bound" autocomplete="off">
                                            <option value="">{{dropdown_select_position}}</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">{{secondary_position}}<span class="mandatory">*
                                            </span></label>
                                            <select class="form-control" name="secondary_position" id="secondary_position" required="" data-fillr-id="1552374762" data-fillr="bound" autocomplete="off">
                                                <option value="">{{dropdown_select_position}}</option>

                                            </select>
                                    </div>
                                </div>
          



                            </div>
                        </form>

                        <form
                        action=""
                        name="upload-form"
                        id="upload-form"
                        method="POST"
                        enctype="multipart/form-data"
                        
                      >
                        
                        {% csrf_token %}
                      
                        <div id="alert-box"></div>
                        <div
                          id="image-box"
                          class="d-flex justify-content-center align-items-center position-relative"
                          style="flex-direction: row"
                        ></div>
                        <br />
                      
                        <label>{{upload_your_pic}}</label>
                      
                        {{uploadform.as_p}}
                      
                        <br />
                        <div id="progress-box" class="not-visible">Progress</div>
                        <div id="cancel-box" class="not-visible">
                          <button id="cancel-btn" class="btn btn-danger">cancel</button>
                        </div>
                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12 mt-3 border p-3 rounded bg-white">
                                <div class="custom-control custom-checkbox checkbox-lg" style="color:black">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-2" required>
                                    <label class="custom-control-label" for="checkbox-2"> {{i_authorize}}
                                        </span></label>
                                </div>
                            </div>

                            <div class="text-center col-lg-12 col-md-12 col-sm-12 mt-3">
                                <div class="form-group mb-0">
                                    <button class="btn login-btn" onclick="nextprev(this,'prev')" formnovalidate> {{prev}} </button>
                                    <button class="btn login-btn" onclick="nextprev(this,'next')" type="submit"> {{next}} </button>
                                </div>
                            </div>
                        </div>
                      </form>

                    </div>
                        <script>
                            const playeruploadid="{{playeruploadid}}"
                            var GLOBAL_FILENAME = "";
                            function checkempty(data){if(data==null||data==""||data==undefined){return ""}else{return data}}
 
                            function nextprev(node,urlitem){
                                var formData = JSON.parse(JSON.stringify($('#form1').serializeArray()))
                                var dict={}
                                formData.forEach(function (item) {
                                   dict[item['name']]=item['value']
                                });
                                if(dict['csrfmiddlewaretoken']){delete dict['csrfmiddlewaretoken']}
                                if(dict['_token']){delete dict['_token']}
                                var inputobj=JSON.parse(sessionStorage.getItem("data"))
                                if (GLOBAL_FILENAME == "" ||GLOBAL_FILENAME == null ||GLOBAL_FILENAME == undefined) 
                                {
                                    if (inputobj["pic_file"]) {} 
                                    else {inputobj["pic_file"] = "";}
                                  } 
                                else {
                                    inputobj["pic_file"] = GLOBAL_FILENAME;
                                  }
                                var newdict=Object.assign(inputobj,dict);
                                if(newdict['playeruploadid']){}
                                else{
                                    
                                    newdict['playeruploadid']=playeruploadid}
                                
                                sessionStorage.setItem("data", JSON.stringify(newdict));
                                console.log(newdict)
                                if(urlitem=="prev"){document.getElementById("upload-form").action="{% url 'preview1' %}"}
                                else if(urlitem=="next"){
                                  if(!document.getElementById("primary_position").value || !document.getElementById("secondary_position").value ){
                                    alert("Please fill both the Primary and Secondary Position of the Player")
                                  }
                                  else{
                                    document.getElementById("upload-form").action="{% url 'preview2' %}"
                                  }
                                  
                                
                                } 



                                }

function positionchange(self,doc){
    console.log("position change function is called")
    doc.length = 1;
    if(self.value){
        $.ajax({
            type: "POST",
            url: "{% url 'positiondata' %}",
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            success: function(result){
                      var positiondata=JSON.parse(result)
                      for (var x in positiondata) {
                       
                        if(positiondata[x].id==self.value){}
                        else{
                            doc.options[doc.options.length] = new Option(positiondata[x].value, positiondata[x].id);
                        }
                    }
                  }
                })
              }
}

function getFileExtension(filename) {
    // get file extension
    const extension = filename.substring(
      filename.lastIndexOf(".") + 1,
      filename.length
    );
    return extension;
  }

window.onload = function() {

               
                var primarySel=document.getElementById("primary_position")
                var secondarySel=document.getElementById("secondary_position")
                primarySel.onchange = function(){positionchange(this,secondarySel)}
                secondarySel.onclick=function(){
                    if(primarySel.value){}
                    else{alert("Please Select Primary Position Before selecting Secondary Position")}
                    
                }


                if(sessionStorage.getItem("data")){
                    var inputdata=JSON.parse(sessionStorage.getItem("data"))
                    if(inputdata['first_name']||inputdata['last_name']||inputdata['last_name']||inputdata['height']||inputdata['weight']||inputdata['state']||inputdata['pincode']|| inputdata['address_line1']||inputdata['address_line2']||inputdata['primary_position']||inputdata['secondary_position']){
                        
                        document.getElementById("first_name").value=checkempty(inputdata["first_name"])
                        document.getElementById("last_name").value=checkempty(inputdata["last_name"])

                        //document.getElementById("primary_position").value=checkempty(inputdata["primary_position"])
                        //document.getElementById("secondary_position").value=checkempty(inputdata["secondary_position"])
                        


                       
                        


                    }
                    

                }    



                    $.ajax({
                        type: "POST",
                        url: "{% url 'positiondata' %}",
                        data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
    
                        success: function(result){
                            var positiondata=JSON.parse(result)
                            for (var x in positiondata) {
                                primarySel.options[primarySel.options.length] = new Option(positiondata[x].value, positiondata[x].id);
                                secondarySel.options[secondarySel.options.length] = new Option(positiondata[x].value, positiondata[x].id);
    
    
                            }

                            if(sessionStorage.getItem("data")){

                                if(inputdata["primary_position"] && inputdata["secondary_position"]){
                                    primarySel.value=inputdata["primary_position"]
                                    secondarySel.value=inputdata["secondary_position"]
                                    
                                    secondarySel.remove(inputdata["primary_position"])
                                }


                            }


                            
    
                        }})



// U P L O A D             S C R I P T

const uploadForm = document.getElementById("upload-form");

const input = document.getElementById("id_image");
input.required = false;

const alertBox = document.getElementById("alert-box");
const imageBox = document.getElementById("image-box");
const progressBox = document.getElementById("progress-box");
const cancelBox = document.getElementById("cancel-box");
const cancelBtn = document.getElementById("cancel-btn");
const csrf = document.getElementsByName("csrfmiddlewaretoken");
console.log(csrf);
var inputdatastring = sessionStorage.getItem("data");
var inputdataforimg = JSON.parse(inputdatastring);
var fwupload=""
if(inputdatastring['playeruploadid'] && inputdataforimg["playeruploadid"] != "" && inputdataforimg["playeruploadid"] != "NA"){
    fwupload=inputdatastring['playeruploadid']
}
else{
    fwupload=playeruploadid
}
if (inputdataforimg["pic_file"] && inputdataforimg["pic_file"] != "") {
  $.ajax({
    type: "POST",
    url: "{% url 'viewpic' %}",
    data: {
      playeruploadidfinal: inputdataforimg["playeruploadid"],
      csrfmiddlewaretoken: "{{ csrf_token }}",
    },
    success: function (result) {
      if (result) {
        console.log(result);
        imageBox.innerHTML = `<img src="${result}" width="260px"></img>`;
      }
    },
    error: function (error) {},
  });

  input.required = false;
  input.style.color = "transparent";
}
input.addEventListener("change", () => {
  progressBox.classList.remove("not-visible");
  cancelBox.classList.remove("not-visible");
  const img_data = input.files[0];
  var img_extention = getFileExtension(img_data["name"]);

  GLOBAL_FILENAME = fwupload+ "." + img_extention;

  const url = URL.createObjectURL(img_data);

  const fd = new FormData();
  fd.append("unique", fwupload);
  fd.append("fname", inputdataforimg["first_name"]);
  fd.append("lname", inputdataforimg["last_name"]);
  fd.append("mobilenumberupload", inputdataforimg["mobile"]);
  fd.append("image", img_data, GLOBAL_FILENAME);

  fd.append("csrfmiddlewaretoken", csrf[0].value);

  $.ajax({
    type: "POST",
    url: uploadForm.action,
    enctype: "multipart/form-data",
    data: fd,
    beforeSend: function () {
      alertBox.innerHTML = "";
      imageBox.innerHTML = "";
    },
    xhr: function () {
      const xhr = new window.XMLHttpRequest();
      cancelBtn.classList.remove("not-visible");
      xhr.upload.addEventListener("progress", (e) => {
        if (e.lengthComputable) {
          const percent = (e.loaded / e.total) * 100;
          progressBox.innerHTML = `<div class="progress">
                                   <div class="progress-bar" role="progressbar" style="width: ${percent}%"  aria-valuenow="${percent}" aria-valuemin="0" aria-valuemax="100"></div>
                                 </div> 
                                 <p>${percent.toFixed(1)} %</p>`;
        }
      });

      cancelBtn.addEventListener("click", () => {
        xhr.abort();
        setTimeout(() => {
          uploadForm.reset();
          progressBox.innerHTML = "";
          alertBox.innerHTML = "";
          cancelBtn.classList.add("not-visible");
        }, 500);
      });
      return xhr;
    },
    success: function (response) {
      console.log(response);
      imageBox.innerHTML = `<img src="${url}" width="260px"></img>`;
      alertBox.innerHTML = `<div class="alert alert-success" role="alert">
                          Successfully Uploaded Profile Pic
                        </div>`;
      cancelBtn.classList.add("not-visible");
    },
    error: function (error) {
      console.log(error);

      alertBox.innerHTML = `<div class="alert alert-danger" role="alert">
        Something went wrong . Please Choose (.png , .jpg , .jpeg) Files
                        </div>`;
      setTimeout(() => {
        uploadForm.reset();
        alertBox.innerHTML = "";
        cancelBtn.classList.add("not-visible");
      }, 2000);
      progressBox.innerHTML = "";
    },
    cache: false,
    contentType: false,
    processData: false,
  });

  console.log(img_data);
});

}
                        
                        </script>
                        {% endblock %}   