{% extends "base.html" %}
{% block content %}

                        <form  method="POST" class="glass-morphism-container1"  name="form1" id="form1">
                        <h3 class="form-heading">Scout Registration</h3>
                        {% csrf_token %}
                        <div class="d-flex justify-content-center" >
                            <div class="spinner-border"  role="status" >
                              <span class="sr-only">..</span>
                            </div>
                          </div>
                        <input type="hidden" name="_token" value="b1nCcqafDVGwwKwH5DLWqeD06kDWSQBXGrPwAco3">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">{{first_name}}<span class="mandatory">* </span></label>
                                        <input class="form-control" type="text" name="first_name"  id="first_name" required minlength="3">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">{{last_name}}<span class="mandatory">* </span></label>
                                        <input class="form-control" type="text" name="last_name" id="last_name" required minlength="3">
                                    </div>
                                </div>



                                
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">{{gender}}<span class="mandatory">*
                                            </span></label>
                                        <select class="form-control" name="gender" id="gender" required="" data-fillr-id="1552374762" data-fillr="bound" autocomplete="off">
                                            <option value="">{{dropdown_select_gender}} </option>
                                          
                                            <option value="Male">{{male}}</option>
                                            <option value="Female">{{female}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left"> {{dob}}<span class="mandatory">* </span></label>
                                        <input class="form-control" type="date" name="dob" id="dob" required>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">{{email}}<span class="mandatory">
                                            </span></label>
                                        <input class="form-control" type="email" title="Please Enter Email Id"  name="email"  id="email">
                                        <span id="message"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                  <div class="form-group">
                                      <label class="text-left">{{pan}}<span class="mandatory">
                                          </span></label>
                                      <input class="form-control" type="text" title="Please Enter PAN" onkeydown="limitmob(this,10);" onkeyup="limitmob(this,10);"  name="pan"  id="pan">
                                      <span id="message"></span>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left" >{{mobile}}<span class="mandatory">* </span></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="+91" readonly style="max-width:6ch;"/>
                                            <span class="input-group-addon">-</span>
                                            <input class="form-control" type="number" minlength="10" width="90%" onkeydown="limitmob(this,10);" onkeyup="limitmob(this,10);" name="mobile"  id="mobile" pattern=".{10,}"  required>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">Associated With Football from how many years ?<span class="mandatory">* </span></label>
                                        <input class="form-control" type="number" name="associated_years"  id="associated_years" onkeydown="limitmob(this,2);" onkeyup="limitmob(this,2);" required minlength="1">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">Associated with football as <span class="mandatory">*
                                            </span></label>
                                            <div class="form-check">
                                                
                                                <label class="form-check-label" for="player">
                                                  Player
                                                </label>
                                                <input class="form-check-input"  onchange="checkfun(this)" type="radio" name="associated_as" id="player" value="player">
                                              </div>
                                              <div class="form-check">
                                                
                                                <label class="form-check-label" for="coach">
                                                  Coach
                                                </label>
                                                <input class="form-check-input" onchange="checkfun(this)" type="radio" name="associated_as" id="coach" value="coach" checked>
                                              </div>
                                              <div class="form-check">
                                                
                                                <label class="form-check-label" for="refree">
                                                  Refree
                                                </label>
                                                <input class="form-check-input" onchange="checkfun(this)" type="radio" name="associated_as" id="refree" value="refree" checked>
                                              </div>
                                              <div class="form-check">
                                                
                                                <label class="form-check-label" for="academy_owner">
                                                    Academy Owner
                                                </label>
                                                <input class="form-check-input" onchange="checkfun(this)" type="radio" name="associated_as" id="academy_owner" value="academy_owner" checked>
                                              </div>
                                              <div class="form-check">
                                                
                                                <label class="form-check-label" for="other">
                                                    Other
                                                </label>
                                                <input class="form-check-input" onchange="checkfun(this)" type="radio" name="associated_as" id="other" value="other" checked>
                                              </div>
                                        <span id="message"></span>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">Interested For: <span class="mandatory">*
                                            </span></label>
                                            <div class="form-check">
                                                
                                                <label class="form-check-label" for="course1">
                                                    Course 1 – PFSA Talent Identification certification only – Fees Rs.4999

                                                </label>
                                                <input class="form-check-input"  onchange="checkfun(this)" type="radio" name="course" id="course1" value="course1">
                                              </div>
                                              <div class="form-check">
                                                
                                                <label class="form-check-label" for="course2">
                                                    Course 2 – IKF-CFSA LEVEL 1 + ProSoccerGlobal Interaction – Fees Rs.4999
                                                </label>
                                                <input class="form-check-input" onchange="checkfun(this)" type="radio" name="course" id="course2" value="course2" checked>
                                              </div>
                                              <div class="form-check">
                                                
                                                <label class="form-check-label" for="course3">
                                                    Course 3 – PFSA + IKF-CFSA + ProSoccerGlobal Interaction  – Fees Rs.7499
                                                </label>
                                                <input class="form-check-input" onchange="checkfun(this)" type="radio" name="course" id="course3" value="course3" checked>
                                              </div>
                                        <span id="message"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">Referral Code<span class="mandatory"> </span></label>
                                        <input class="form-control" type="text" name="referral"  id="referral"  onkeydown="limitmob(this,6);" onkeyup="limitmob(this,6);">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label class="text-left">Discount Code<span class="mandatory"> </span></label>
                                        <input class="form-control" type="text" name="discount" id="discount" minlength="3">
                                    </div>
                                </div>
                                {% comment %} <div class="col-lg-12 col-md-12 col-sm-12 mt-3 border p-3 rounded bg-white">
                                    <div class="custom-control custom-checkbox checkbox-lg">
                                        <input type="checkbox" class="custom-control-input" id="checkbox-2" required>
                                        <label class="custom-control-label" for="checkbox-2"> By supplying my contact
                                            information, I authorize the organiser exchange4media and sponsors to
                                            contact me via personalized communications about their products and services
                                            via email and phone. See our <a href="https://www.exchange4media.com/privacy-policy.html" target="_blank" style="text-decoration:underline;">Privacy Policy</a>
                                            for more details or to opt-out at any time.<span class="mandatory"> *
                                            </span></label>
                                    </div>
                                </div> {% endcomment %}
                                <div class="d-flex justify-content-center" >
                                    <div class="spinner-border"  role="status" >
                                      <span class="sr-only">..</span>
                                    </div>
                                  </div>
                                <div class="text-center col-lg-12 col-md-12 col-sm-12 mt-3">
                                    <div class="form-group mb-0">
                                       
                                        <button class="btn login-btn" onclick="next(this)" id="nextbutton" >Proceed</button>
                                        <button class="btn login-btn" onclick="proceed_to_payment(this)" id="proceed" type="submit" disabled>Make Payment</button>
                                    </div>
                                </div>

                            </div>
                        </form>
<script>
// window.onbeforeunload=function(event){return "You have some unsaved changes";}
var IKFUNIQUEID=""
var DISCOUNTEDAMOUNT=""
var PLAYERUPLOADID=""


function checkempty(data){if(data==null||data==""||data==undefined){return ""}else{return data}}
function prev(node){
document.getElementById("form1").action="{% url 'homeindex'  %}"
}
function discountamount(course, type){

    $.ajax({
            type: "POST",
            url: "{% url 'scoutdiscountamount' %}",
            data:{type:type,course:course, csrfmiddlewaretoken:'{{ csrf_token }}'},
            success: function(result){
                      if (result){
                        
                        //alert(result.amount)
                        console.log("result amount")
                        console.log(result.amount)
                        DISCOUNTEDAMOUNT=result.amount
                        sessionStorage.setItem("DISCOUNTEDAMOUNT",result.amount)
                        

                      }
   
                    }
            })
}
function proceed_to_payment(self){
  $('.spinner-border').show();
  event.preventDefault();
  if(sessionStorage.getItem("saved") && sessionStorage.getItem('saved')=='true' ){
    IKFUNIQUEID=sessionStorage.getItem('ikfuniqueid')
    ID=sessionStorage.getItem('id')
    DISCOUNTEDAMOUNT=sessionStorage.getItem('DISCOUNTEDAMOUNT')

  }

$.ajax({type: "POST",
        url: "{% url 'order' %}",
        data:{ikfuniqueid:IKFUNIQUEID,id:ID,amount:DISCOUNTEDAMOUNT, csrfmiddlewaretoken:'{{csrf_token}}'} }
      ) .done(function (result) { 
        $('.spinner-border').hide();
                                  console.log(result)
                                  resultdata=JSON.parse(result)
                                 if(resultdata['error']=="true"){
                                               //alert(resultdata['message'] )
                                    }
                                 else{try{
          alert("Order ID is generated Successfully");

        sessionStorage.setItem("order_id",resultdata['order_id'] )
        window.location="{% url 'payment' %}"
       
        
        }
        catch(e){

         alert(e.message)
        }

        
        
      } 
    
    })
    .fail(function (jqXHR, textStatus, errorThrown) { 
      $('.spinner-border').hide();
      alert("Order Api Error. Please Try Again") }); 

  }
function save(data,type_of_text){

  if(localStorage.getItem("ikfscoutcode")){
      var affiliatecode=localStorage.getItem("ikfscoutcode")
      data['extrafield1']=affiliatecode
    }
    else{
      data['extrafield1']=""
    }
          
    
    $('.spinner-border').show();

        $.ajax({type: "POST",
                url: "{% url 'save' %}",
                data:{data:JSON.stringify(data),csrfmiddlewaretoken:'{{csrf_token}}'},
               }) 
        .done(function (result) {    


          resultdata=JSON.parse(result)
          //alert(JSON.stringify(resultdata))
         
          $('.spinner-border').hide();
          if(resultdata['error']=="true"){alert(resultdata['message'] )}
          else{
            IKFUNIQUEID=resultdata["ikfuniqueid"]
            ID=resultdata["id"]
            sessionStorage.setItem("ikfuniqueid",IKFUNIQUEID)
            sessionStorage.setItem("id",ID)
            sessionStorage.setItem("ikfcourse",resultdata.course)
            sessionStorage.setItem('ikfplayeruploadid',resultdata.playeruploadid)
            sessionStorage.setItem("ikfdiscounttype",type_of_text)
            sessionStorage.setItem("saved","true")
            sessionStorage.setItem("data",JSON.stringify(resultdata))

            
            

              alert('Scout Data Submitted Successfully. Now click to "Proceed to Payment" button to go to Payment page.');


            
            document.getElementById("nextbutton").disabled=true
            document.getElementById("proceed").disabled=false
            
                discountamount(resultdata.course,type_of_text)
            
            
            
            
           
            


            
            
          } 
        
        })
        .fail(function (jqXHR, textStatus, errorThrown) { 
         
          alert("Server API Error") });    
}
function typeverification(typetext){
    var typetext=typetext.toUpperCase();
    if (typetext.length==7 && typetext.match("[A-Z]{4}[0-9]{3}")){return "discount_a4n3"}
    else if(typetext.length==8 && typetext.match("[A-Z]{5}[0-9]{3}") ){return "discount_a5n3"}
    else if(typetext.length==9 &&  typetext.match("[A-Z]{5}[0-9]{4}")){return "discount_a5n4"}
    else if(typetext.length==10 &&  typetext.match("[A-Z]{5}[0-9]{5}")){return "discount_a5n5"}
    else if(typetext.length==12 &&  typetext.match("[A-Z]{6}[0-9]{6}")){return "discount_a6n6"}
    else if(typetext.length==14 &&  typetext.match("[A-Z]{7}[0-9]{7}")){return "discount_a7n7"}
    else                       {alert("Not Valid Discount Code");return false}
}

function mobileverification(mobiledoc){
if(mobiledoc.indexOf('0')==0){alert("Mobile Number should not start with 0");return false;}
else if(mobiledoc.length<10) {alert("Mobile Number Should be 10 Digit");return false;}
else{return true}
}
function next(node){
    window.onbeforeunload = null;
    event.preventDefault()

    var pan=document.getElementById('pan').value
    if(pan!=null && pan!=undefined && pan!=""){
        pan=pan.toUpperCase()
      if(pan.length==10 && pan.match("[A-Z]{5}[0-9]{4}[A-Z]{1}")){} else{ alert("PAN Number Not Valid");return 0}

    }

    var referral=document.getElementById('referral').value
    if(referral!=null && referral!=undefined && referral!=""){
      referral=referral.toUpperCase()
      if(referral.length==6 && referral.match("[A-Z]{3}[0-9]{3}")){} else{ alert("Referral Code Not Valid");return 0}

    }
    var mobiledoc= document.getElementById("mobile").value
    
        //full data 
        var formData = JSON.parse(JSON.stringify($('#form1').serializeArray()))
        var dict={}
        formData.forEach(function (item) {
           dict[item['name']]=item['value']
        });
        
        if(dict['csrfmiddlewaretoken']){delete dict['csrfmiddlewaretoken']}
        if(dict['_token']){delete dict['_token']}
        console.log(dict)
        dict['season']="S02"
        dict['playeruploadid']=PLAYERUPLOADID
        var typetext=document.getElementById("discount").value
        if(typetext!="" && typetext!=null && typetext!=undefined){
            if(typeverification(typetext)){
               var type_of_text=typeverification(typetext)
               if(mobileverification(mobiledoc)){
                save(dict,type_of_text)
               }
              }
        }
        else{
            var type_of_text=""
            if(mobileverification(mobiledoc)){
                save(dict,type_of_text)
            }
        }

        // if(typeverification(typetext)){
            

        // }

        //save data
        
        

        



        


        

       
        

   


}





window.onload = function() {
$('.spinner-border').hide();



var dobid=document.getElementById("dob");






                                 

PLAYERUPLOADID="{{playeruploadid}}"
// if session storate condition
if(sessionStorage.getItem("saved") && sessionStorage.getItem('saved')=='true' ){
       // alert(sessionStorage.getItem('saved'))
        
        document.getElementById("nextbutton").disabled=true
        document.getElementById("proceed").disabled=false

        var inputdata=JSON.parse(sessionStorage.getItem("data"))
        PLAYERUPLOADID=inputdata['playeruploadid']
        var allElements =document.getElementById("form1").getElementsByTagName("*");
        var allIds = [];
        for (var i = 0, n = allElements.length; i < n; ++i) {
            var el = allElements[i];
            if (el.id) { allIds.push(el.id); }
        }

        
        allIds.forEach(item => {
           
           if(item=='csrfmiddlewaretoken' || item=='_token' || item=='information_text' || item=='nextbutton'||item=='prevbutton'||item=='proceed'||item=='ccity'){}
           else if(item=="associated_as"|| item=="course"){

            // $('#' + inputdata[item]).prop('checked',true);

            }
          
           else{
            console.log(inputdata[item])
            console.log(item)
            document.getElementById(item).value=checkempty(inputdata[item])   }


            }); 
      

  }
//////////////////////////////


                                                        


}



</script>
{% endblock %}   